:root {
  --header-bg-color: #161B22;
  --main-bg-color: #0D1117;
  --btn-color: #238636;
  --btn-color-hover: #349747;
  --nav-font-color: #D8CCC0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 5rem;
  height: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--header-bg-color);
}

header a > .logo-img {
  height: auto;
  width: 13rem;
}

header .nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60rem;
  height: 15rem;
  font-size: 2rem;
}

header .nav-item {
  color: var(--nav-font-color);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header .nav-item:hover {
  color: #fff;
}

header .nav-item.nav-btn {
  display: block;
  width: 18rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--btn-color);
  color: #fff;
  cursor: pointer;
}

header .nav-item.nav-btn:hover {
  background-color: var(--btn-color-hover);
}

header .hamburger-btn {
  display: none;
}

.home {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-bg-color);
}

.cards-container {
  width: 150rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 1500rem 750rem 1500rem 750rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6rem;
}

.cards-container .card {
  width: 25rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 30px 0px #00000080;
          box-shadow: 0px 0px 30px 0px #00000080;
  margin: 0 3rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.cards-container .card:last-child {
  margin-right: 16rem;
}

.cards-container .card:first-child {
  margin-left: 16rem;
}

.cards-container .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cards-container .card .card-color {
  background-color: #000;
  width: 23rem;
  height: 85%;
  border-radius: 1rem;
}

.cards-container .card .hex {
  margin: 1rem 0;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-container .card .hex > span {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
}

.generateBtn {
  width: 30rem;
  height: 7rem;
  background-color: var(--btn-color);
  padding: 2rem 4rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  cursor: pointer;
}

.generateBtn:hover {
  background-color: var(--btn-color-hover);
}
/*# sourceMappingURL=main.css.map */